[data-page] {
  position: fixed;
  height: 100dvh;
  width: 0;

  ~*:has([data-current-page]) {
    left: -100dvw;
  }
}

[data-current-page] {
  position: relative;
  perspective: 100px;
  perspective-origin: center center;
}

*:has([data-current-page]) {
  ~[data-page] {
    right: -100dvw;
  }
}